Repository PingCAP-QE/ee-apps, pull requests merged in 2024-03, with the labels that each got.

#93 feat: update pipeline url from single to list
  tibuild/docs/docs.go
  tibuild/docs/swagger.json
  tibuild/docs/swagger.yaml
  tibuild/pkg/rest/service/dev_build_service.go
  tibuild/pkg/rest/service/model.go
Labels: lgtm, approved, size/S, area/tibuild

#98 feat(cloudevents-server): improve notify info
  cloudevents-server/pkg/events/custom/tekton/handler.go
  cloudevents-server/pkg/events/custom/tekton/handler_pipelinerun.go
  cloudevents-server/pkg/events/custom/tekton/handler_taskrun.go
  cloudevents-server/pkg/events/custom/tekton/lark.go
  cloudevents-server/pkg/events/custom/tekton/lark_templates/tekton-run-notify.yaml.tmpl
  cloudevents-server/pkg/events/custom/tekton/types.go
  cloudevents-server/pkg/events/custom/testcaserun/test.sh
Labels: approved, size/XL, area/cloudevents-server

#101 feat(cloudevents): fix not add the not runned steps in notificatioins
  cloudevents-server/pkg/events/custom/tekton/handler.go
Labels: approved, size/XS, area/cloudevents-server

#102 feat(cloudevents-server): support notify by event subject
  cloudevents-server/configs/example-config-sqlite3.yaml
  cloudevents-server/configs/example-config.yaml
  cloudevents-server/pkg/config/config.go
  cloudevents-server/pkg/events/custom/tekton/handler.go
  cloudevents-server/pkg/events/custom/tekton/handler_pipelinerun.go
  cloudevents-server/pkg/events/custom/tekton/handler_pipelinerun_test.go
  cloudevents-server/pkg/events/custom/tekton/handler_taskrun.go
  cloudevents-server/pkg/events/custom/tekton/handler_taskrun_test.go
  cloudevents-server/pkg/events/custom/tekton/testdata/event-taskrun.failed-standalone.json
Labels: approved, size/XL, area/cloudevents-server
